/* FONT */

@font-face {
    font-family: 'Whitney';
    src: url('../font/whitney-font/whitneylight.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Whitney';
    src: url('../font/whitney-font/whitneymedium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Whitney';
    src: url('../font/whitney-font/whitneybold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body {
    font-size: 23px;
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
    width: 65%;
    margin: auto;
}

.flex-container {
    display: flex;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.bg-grey {
    background-color: #f6f6f6;
}

.btn-small {
    border-radius: 40px;
    font-size: 20px;
    padding: 10px 16px;
}

.btn-large {
    border-radius: 28px;
    font-size: 25px;
    padding: 15px 25px;
}

.btn-white {
    background-color: white;
    color: black;
}

.btn-black {
    background-color: #23272a;
    color: white;
}

.btn-blue {
    background-color: #7289da;
    color: white;
}

/* DEBUG */

/* DEBUG - Header */

.debug #header-top .columns {
    background-color: goldenrod;
}

.debug .item-header-top {
    border: 2px dashed black;
}

.debug #header-bottom {
    background-color: #00008b;
}

.debug .jumbotron {
    background-color: #ee82ee;
    border: 2px dashed black;
}

/* DEBUG - Sections */

.debug .col-wide {
    background-color: #1e90ff;
    height: 500px;
    border: 2px dashed black;
}

.debug .col-narrow {
    background-color: #ffc0cb;
    height: 500px;
    border: 2px dashed black;
}    

.debug #section-fourth .col {
    background-color: #228b22;
    border: 2px dashed black;
}

/* DEBUG - Footer */

.debug #footer-top .columns .info-box {
    background-color: #f08080;
    height: 570px;
    border: 2px dashed black;
}

.debug #footer-top .columns .menus-footer {
    background-color: #20b2aa;
    height: 570px;
}

.debug #footer-bottom .columns {
    height: 80px;
    background-color: #7fffd4;
}

.debug #footer-top .columns .menus-footer .col {
    border: 2px dashed white;
    width: 100%;
}

.debug .item-footer-bottom {
    border: 2px dashed black;
    padding: 4px 10px;
    background-color: #ffb6c1;
}

/* HEADER */

header {
    color: white;
}

/* Header-Top */

#header-top {
    padding: 20px 0;
    background-color: #255ee9;
}

#header-top .columns {
    align-items: center;
}

.item-header-top {
    padding: 10px;
    font-size: 20px;
}

#header-top .logo {
    width: 20%;
}

#header-top .logo img {
    width: 150px;
}

#header-top nav {
    width: 60%;
    text-align: center;
}

#header-top nav ul {
    justify-content: center;
}

#header-top nav ul li {
    padding: 0px 30px;
}

#header-top #login {
    width: 20%;
    text-align: right;
}

.wave-divider img {
    display: block;
}

.specular {
    transform: rotate(180deg);
}

/* Header-Bottom */

#header-bottom {
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
}

.jumbotron {
    width: 45%;
    height: 520px;
    text-align: center;
    line-height: 35px;
    flex-direction: column;
    justify-content: center;
}

.jumbotron h1 {
    font-size: 60px;
    padding-bottom: 55px;
}

.jumbotron-buttons {
    padding-top: 35px;
}

.jumbotron-buttons span:first-child {
    margin-right: 25px;
}

/* MAIN */

/* Sections: COMMON */

main > section {
    padding: 135px 0 165px 0;
}

main > section .columns {
    justify-content: center;
    align-items: flex-start;
}

.columns .col-wide {
    width: 60%;
    height: 500px;
    background-size: cover;
}

.columns .col-narrow {
    width: 40%;
}

.columns .col-text.col-right {
    padding-left: 100px;
}

.columns .col-text.col-left {
    padding-right: 70px;
}

.col-text {
    padding-top: 30px;
}

.col-text h2 {
    font-size: 60px;
    padding-bottom: 30px;
}

.col-text p {
    line-height: 35px;
}

/* Section-First */

#section-first .columns .col-image {
    background-image: url(../img/item1.svg);
}

/* Section-Second */

#section-second .columns .col-image {
    background-image: url(../img/item2.svg);
}

/* Section-Third */

#section-third .columns .col-image {
    background-image: url(../img/item3.svg);
}

/* Section-Fourth */

#section-fourth .col-text {
    text-align: center;
    padding: 0;
}

#section-fourth .col-image {
    height: 800px;
    background-image: url(../img/item4-big.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#section-fourth .col-cta {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 230px;
}

#section-fourth .cta-text {
    background-image: url(../img/stars.svg);
    padding: 50px 65px;
    background-size: contain;
    background-repeat: no-repeat;
}

#section-fourth .cta-text h3 {
    font-size: 45px;
}


/* FOOTER */

footer {
    color: white;
    background-color: #23272a;
}

/* Footer-Top */

#footer-top {
    padding: 80px 0 60px 0;
    background-color: #23272a;
}

/* Footer-Top: Info Box */

#footer-top .columns .info-box {
    width: 30%;
}

#footer-top .info-title {
    color: #7289da;
    font-size: 45px;
    line-height: 45px;
}

#footer-top .italian-flag,
#footer-top .arrow-down {
    font-size: 15px;
    vertical-align: text-bottom;
}

#footer-top .info-language .italian-flag {
    width: 25px;
}

#footer-top .info-language {
    font-size: 17px;
    padding: 25px 0;
}

#footer-top .info-social .icon {
    padding-right: 30px;
}

/* Footer-Top: Menus */

#footer-top .menus-footer {
    width: 70%;
    justify-content: space-between;
}

#footer-top .menus-footer .col {
    line-height: 47px;
    font-weight: 300;
    width: calc(100% / 4 - 100px);
    line-height: 47px;
    font-weight: 300;  
}

#footer-top .menus-footer h4 {
    color: #7289da;
    font-size: 20px;
}

#footer-top .menus-footer ul {
    font-size: 18px;
    font-weight: 400;
}

/* Footer-Bottom */

#footer-bottom {
    background-color: #23272a;
    padding: 25px 0 50px;
}

#footer-bottom .columns {
    justify-content: space-between;
    align-items: center;
}

#footer-bottom .logo-footer img {
    width: 150px;
}