/* FONT */

@font-face {
    font-family: 'Whitney';
    src: url('../font/whitney-font/whitneylight.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Whitney';
    src: url('../font/whitney-font/whitneymedium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Whitney';
    src: url('../font/whitney-font/whitneybold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body {
    font-size: 20px;
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
    width: 65%;
    margin: auto;
}

.flex-container {
    display: flex;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.bg-grey {
    background-color: #d3d3d3;
}

.btn-small {
    border-radius: 40px;
    font-size: 14px;
    padding: 7px 16px;
}

.btn-white {
    background-color: #fff;
    color: #23272a;
}

/* DEBUG */

.debug #header-top .columns {
    background-color: goldenrod;
}

.debug .item-header-top {
    border: 2px dashed black;
}

.debug #header-bottom {
    background-color: #00008b;
}

.debug .jumbotron-text {
    background-color: #ee82ee;
    border: 2px dashed black;
    height: 400px;
}

.debug .col-wide {
    background-color: #1e90ff;
    height: 500px;
    border: 2px dashed black;
}

.debug .col-narrow {
    background-color: #ffc0cb;
    height: 500px;
    border: 2px dashed black;
}    

.debug #section-fourth .col {
    background-color: #228b22;
    height: 900px;
    border: 2px dashed black;
}

.debug #footer-top .columns .col-left {
    background-color: #f08080;
    height: 570px;
    border: 2px dashed black;
}

.debug #footer-top .columns .col-right {
    background-color: #20b2aa;
    height: 570px;
}

.debug #footer-bottom .columns {
    height: 80px;
    background-color: #7fffd4;
}

.debug #footer-top .columns .col-right .col {
    border: 2px dashed white;
}

.debug .item-footer-bottom {
    border: 2px dashed black;
    padding: 4px 10px;
    background-color: #ffb6c1;
}

/* HEADER */

header {
    color: white;
}

/* Header-Top */

#header-top {
    padding: 20px 0;
    background-color: #255ee9;
}

#header-top .columns {
    align-items: center;
}

.item-header-top {
    padding: 10px;
    font-size: 16px;
}

#header-top .logo {
    width: 20%;
}

#header-top .logo img {
    width: 125px;
}

#header-top nav {
    width: 60%;
    text-align: center;
}

#header-top nav ul {
    justify-content: center;
}

#header-top nav ul li {
    padding: 0px 30px;
}

#header-top #login {
    width: 20%;
    text-align: right;
}

/* Header-Bottom */

#header-bottom {
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.jumbotron-text {
    width: 45%;
}

/* MAIN */

/* Main > Sections: COMMON */
main > section {
    padding: 50px 0;
}

main > section .columns {
    justify-content: center;
    align-items: center;
}

.columns .col-wide {
    width: 60%;
}

.columns .col-narrow {
    width: 40%;
}

/* Section-First */

#section-first .columns .col-left {

}

#section-first .columns .col-right {

}

/* Section-Second */

#section-second .columns .col-left {

}

#section-second .columns .col-right {

}

/* Section-Third */

#section-third .columns .col-left {

}

#section-third .columns .col-right {

}

/* Section-Fourth */

#section-fourth .col {
    width: 100%;
}
     
/* FOOTER */

/* Footer-Top */

#footer-top {
    padding: 15px 0 60px 0;
    background-color: #23272a;
}

#footer-top .columns .col-left {
    width: 30%;
}

#footer-top .columns .col-right {
    width: 70%;
}

#footer-top .columns .col-right .col {
    width: calc(100% / 4);
}

/* Footer-Bottom */

#footer-bottom {
    background-color: #23272a;
    padding-top: 30px;
}

#footer-bottom .columns {
    justify-content: space-between;
    align-items: center;
}

.logo-footer {

}

.button-footer {

}

.item-footer-bottom {
    
}
